.logo {
    width: 150px;

    a {
        cursor: pointer;
    }
}

nav ul {
    margin: 0 35px;

    li {
        display: inline;
        margin: 0 10px;
        cursor: pointer;
    }
}

.search_area {
    input {
        width: 70px;
        margin: 0 15px;
        border: 1px solid transparent;
        background-color: transparent;
        outline: none;
        transition: all 0.8s ease-in-out;

        &:hover {
            width: 170px;
            border-bottom: 1px solid white;
        }
    }

    i {
        cursor: pointer;
    }
}